/* Overall Container */
.burger-menu {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }
  
  /* Category Section */
  .explore-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .category-btn {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px 16px;
    display:flex;
    
    max-height: 60px
  
;
    /* flex-direction: column; */
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
  }
  
  .category-btn.active {
    background-color: #ff8c42;
    color: white;
    border-color: #ff8c42;
  }
  
  .category-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .category-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  /* Tabs */
  .filter-tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
  }
  
  .filter-tabs button {
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: none;
    font-size: 20px;
  }
  
  .filter-tabs button.active {
    border-bottom: 2px solid #ff8c42;
  }
  
  /* Burger List */
  .burger-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
  
  .burger-card {
    background: white;
    border: 1px solid #ff8c42;;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .burger-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .burger-image {
    width: 79%;
    max-height: 241px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 35px 0px;
  }
  
  .price {
    font-size: 29px;
    font-weight: bold;
    color: #ff8c42;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #aaa;
    font-size: 14px;
    margin-left: 8px;
  }
  
  .rating {
    margin: 8px 0;
    color: #666;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .wishlist,
  .order-now {
    background: rgb(218 224 228 / 38%);
    color: black;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
  }
  .order-now{
    background-color: #ff7c2a;
    color: #f2f2f2;
  }
  
  .wishlist:hover {
    background: #ff7c2a;
  }
  
  .order-now:hover {
    background: #ff6600;
  }